{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Action": "logs:CreateLogGroup",
        "Effect": "Allow",
        "Resource": [
          "arn:aws:logs:us-east-1:${account_id}:log-group:/ecs/${application}-${project}-${environment}:*"
        ]
      }
    ]
}
